@import '../../styles/global.import.styl'

#menu
  .branding
    height nav-height; line-height nav-height
    background-color #414550; color #ffffff
    padding 0 10px

#listing
  .caption
    height nav-height; line-height nav-height
    background-color #282c36; color #ffffff
    padding 0 10px