template(name="listing")
  .caption Essentials
  .lesson-listing
    .nano: .nano-content
      ul.lesson-chain
        li: a(href="#")
          .title Episode 0
          .sub-title Yeah
          .status
        li.active: a(href="#")
          .title Episode #1
          .sub-title Yeah
          .status
        li: a(href="#")
          .title Episode #2
          .sub-title Yeah
          .status
        li: a(href="#")
          .title Episode #3
          .sub-title Yeah
          .status
        li: a(href="#")
          .title Episode #4
          .sub-title Yeah
          .status
        li: a(href="#")
          .title Episode #5
          .sub-title Yeah
          .status