template(name="listing")
  .caption Essentials
  .lesson-listing
    .nano: .nano-content
      ul.lesson-chain
        li: a(href="#")
          .title Episode 0
          .sub-title Yeah
        li.active: a(href="#") Episode #1
        li: a(href="#") Episode #2
        li: a(href="#") Episode #3
        li: a(href="#") Episode #4
        li: a(href="#") Episode #5