template(name="navigation")
  nav.fixed-top
    .branding
      .logo-img(style="background-image:url('/images/gear.png')")
      .logo-text
        span MeteorHub
    .navigation
      span main-nav
    #list-nav.navigation.right
      span right