@import '../../styles/global.import.styl'

nav.fixed-top
  background-color #ffffff
  margin-left side-menu-size + side-list-size + 1
  border-bottom solid 1px #eeeeee

#list-nav, #test
  width side-list-size